.Header_container {
  position: absolute;
  height: 150px;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header_logo {
  height: 80px;
  width: fit-content;
  cursor: pointer;
}

.Header_buttons_box {
  height: 100%;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header_buttons_box .credit_button {
  border-radius: 50px;
  background: #c72f9a;
  width: 183px;
  height: 50px;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.Header_buttons_box .credit_button p {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  bottom: -60%;
  position: absolute;
}
.Header_buttons_box .connect_button {
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 196px;
  height: 48px;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header_buttons_box .connect_button img {
  height: 15px;
  width: 15px;
  rotate: 180deg;
  margin-left: 10px;
}
.Header_buttons_box .connect_button .dropDown {
  position: absolute;
  top: -2px;
  height: 130px;
  width: 100%;
  border-radius: 23px 23px 30px 30px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.Header_buttons_box .connect_button .dropDown p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding-left: 18px;
  margin-bottom: 12px;
  transition: 0.2s ease-in-out;
}
.Header_buttons_box .connect_button .dropDown p:hover {
  transform: scale(1.05);
  text-decoration: underline;
}

@media screen and (max-width: 1440px) {
  .Header_container {
    position: absolute;
    height: 150px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
